v class="header">
<div class="flex-container">
  <div class="header__menu">
    <%= link_to"Каталог профессий", '', class: "address" %>
    <%= link_to"Задания и тесты", '',class: "address" %>
    <%= link_to"Рекомендации" ,'', class: "address" %>
    <div class="profile_address">
      <p>Мой профиль</p>
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_67_401)">
          <path d="M23.375 12.4994C23.3786 14.6584 22.7364 16.7692 21.5311 18.5604C20.5371 20.043 19.193 21.2578 17.6179 22.0974C16.0427 22.9371 14.285 23.3757 12.5 23.3744C10.715 23.3757 8.95727 22.9371 7.38211 22.0974C5.80696 21.2578 4.46295 20.043 3.46892 18.5604C2.52247 17.1496 1.91972 15.5366 1.70899 13.8509C1.49826 12.1651 1.68541 10.4534 2.25545 8.85302C2.82548 7.25262 3.76254 5.80804 4.9915 4.63506C6.22046 3.46209 7.70714 2.59336 9.33236 2.09851C10.9576 1.60366 12.6761 1.49646 14.3503 1.78551C16.0244 2.07455 17.6075 2.7518 18.9727 3.76296C20.3379 4.77412 21.4472 6.09107 22.2117 7.60822C22.9762 9.12538 23.3746 10.8005 23.375 12.4994Z" stroke="black" stroke-width="1.5"/>
          <path d="M14.0105 8.8737C14.0105 9.70745 13.3338 10.3841 12.5001 10.3841V12.1966C13.3814 12.1966 14.2266 11.8465 14.8498 11.2234C15.4729 10.6002 15.823 9.75499 15.823 8.8737H14.0105ZM12.5001 10.3841C11.6663 10.3841 10.9897 9.70745 10.9897 8.8737H9.17718C9.17718 9.75499 9.52727 10.6002 10.1504 11.2234C10.7736 11.8465 11.6188 12.1966 12.5001 12.1966V10.3841ZM10.9897 8.8737C10.9897 8.03995 11.6663 7.36328 12.5001 7.36328V5.55078C11.6188 5.55078 10.7736 5.90087 10.1504 6.52404C9.52727 7.14721 9.17718 7.99241 9.17718 8.8737H10.9897ZM12.5001 7.36328C13.3338 7.36328 14.0105 8.03995 14.0105 8.8737H15.823C15.823 7.99241 15.4729 7.14721 14.8498 6.52404C14.2266 5.90087 13.3814 5.55078 12.5001 5.55078V7.36328ZM4.24234 19.5747L3.37355 19.3161L3.23218 19.7898L3.5548 20.1644L4.24234 19.5747ZM20.7578 19.5747L21.4466 20.1656L21.768 19.791L21.6266 19.3161L20.7578 19.5747ZM8.87509 17.0299H16.1251V15.2174H8.87509V17.0299ZM8.87509 15.2174C7.63909 15.2175 6.43609 15.6164 5.44492 16.3548C4.45374 17.0933 3.72729 18.1318 3.37355 19.3161L5.11114 19.8333C5.35345 19.0233 5.85056 18.313 6.52864 17.808C7.20672 17.3029 8.02961 17.0301 8.87509 17.0299V15.2174ZM12.5001 22.4674C11.0615 22.4691 9.63962 22.1586 8.33265 21.5574C7.02569 20.9561 5.86473 20.0785 4.92989 18.985L3.5548 20.1644C4.65978 21.456 6.0317 22.494 7.576 23.2043C9.12031 23.9146 10.8003 24.2816 12.5001 24.2799V22.4674ZM16.1251 17.0299C17.9013 17.0299 19.4057 18.2117 19.8891 19.8333L21.6266 19.3161C21.2729 18.1318 20.5465 17.0933 19.5553 16.3548C18.5641 15.6164 17.3611 15.2175 16.1251 15.2174V17.0299ZM20.0703 18.985C19.1355 20.0785 17.9745 20.9561 16.6675 21.5574C15.3606 22.1586 13.9387 22.4691 12.5001 22.4674V24.2799C14.1999 24.2816 15.8799 23.9146 17.4242 23.2043C18.9685 22.494 20.3416 21.4573 21.4466 20.1656L20.0703 18.985Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_67_401">
            <rect width="25" height="25" fill="white"/>
          </clipPath>
        </defs>
      </svg>

    </div>
  </div>
</div>

